asgiref==3.7.2
# backports.zoneinfobackports.zoneinfo;python_version<"3.9"
Django==4.2.11
django-ckeditor==6.7.1
django-filter==24.1
django-import-export==3.3.7
djangorestframework==3.14.0
gunicorn==21.2.0
importlib-metadata==7.0.2
Markdown==3.5.2
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sqlparse==0.4.4
zipp==3.18.1
lxml==5.1.0