asgiref==3.11.0
# backports.zoneinfobackports.zoneinfo;python_version<"3.9"
Django==4.2.18
django-ckeditor==6.7.3
django-filter==25.1
django-import-export==4.3.14
djangorestframework==3.16.1
gunicorn==23.0.0
importlib-metadata==8.7.0
Markdown==3.9
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
zipp==3.23.0
lxml==6.0.2