{% extends "core/base.html" %}
{% load core_tags %}


{% block title %}{{ document }}{% endblock %}
{% block content %}
    <h1>{{ document }}</h1>
    <div class="button-row">
        {% if perms.core.change_document %}
            <a class="button" href="{% url 'core:document_edit' document.id %}">Edit</a>
        {% endif %}
        {% if perms.core.delete_document %}
            <form method="POST" action="{% url 'core:document_delete' document.id %}">
                {% csrf_token %}
                <button class="button" onclick="return confirm('This cannot be undone. Are you sure?')">Delete</button>
            </form>
        {% endif %}
    </div>
    <h2>Details</h2>
    <table class="red small">
        <tbody>
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <td>
                    <b>Title</b>
                </td>
                <td>{{ document.title }}</td>
            </tr>
            <tr>
                <td>
                    <b>Institution</b>
                </td>
                {% if document.institution %}
                    <td>
                        <a href="{% url 'core:document_list' %}?institution={{ document.institution.id }}">
                            {{ document.institution }}
                        </a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <b>Category</b>
                </td>
                {% if document.category %}
                    <td>
                        <a href="{% url 'core:document_list' %}?category={{ document.category.id }}">
                            {{ document.category }}
                        </a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <b>Type</b>
                </td>
                {% if document.type %}
                    <td>
                        <a href="{% url 'core:document_list' %}?type={{ document.type.id }}">
                            {{ document.type }}
                        </a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <b>Year</b>
                </td>
                <td>{{ document.year }}</td>
            </tr>
            <tr>
                <td>
                    <b>Publisher</b>
                </td>
                <td>{{ document.publisher }}</td>
            </tr>
            <tr>
                <td>
                    <b>Abstract</b>
                </td>
                <td>{{ document.abstract|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>
                    <b>Note</b>
                </td>
                <td>{{ document.note|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>
                    <b>URL</b>
                </td>
                {% if document.url|is_valid_url %}
                    <td>
                        <a href="{{document.url}}" target="_blank">
                            {{ document.url }}
                        </a>
                    </td>
                {% else %}
                    <td>This document is currently not available.</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}