{% extends "core/base.html" %}

{% block title %}{{ documenttype }}{% endblock %}
{% block content %}
    <h1>{{ documenttype }}</h1>
    <div class="button-row">
        {% if perms.core.change_documenttype %}
            <a class="button" href="{% url 'core:document_type_edit' documenttype.id %}">Edit</a>
        {% endif %}
        {% if perms.core.delete_documenttype %}
            <form method="POST" action="{% url 'core:document_type_delete' documenttype.id %}">
                {% csrf_token %}
                <button class="button" onclick="return confirm('This cannot be undone. Are you sure?')">Delete</button>
            </form>
        {% endif %}
    </div>
    <h2>Details</h2>
    <table class="green small">
        <tbody>
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>{{ documenttype.id }}</td>
            </tr>
            <tr>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <a href="{% url 'core:document_list' %}?type={{ documenttype.id }}">
                        {{ documenttype.name }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}