{% extends "core/base.html" %}

{% block title %}Documents{% endblock %}
{% block content %}
    <div class="button-row">
        {% if perms.core.add_document %}
            <a class="button" href="{% url 'core:document_add' %}">Add a new document</a>
        {% endif %}
        {% if request.GET.keys|length > 0 %}
            <a class="button" href="{% url 'core:document_list' %}">Clear filters</a>
        {% endif %}
    </div>
    {% if document_list|length == 0 %}
        No results. Please clear your filters and try again.
    {% else %}
        <table class="green sortable">
            <thead>
                <tr>
                    <th>Institution</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Year</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                {% for document in document_list %}
                    <tr>
                        {% if document.institution %}
                            <td>
                                <a href="?institution={{ document.institution.id }}{% for key,value in request.GET.items %}{% if key != 'institution' and key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    {{ document.institution }}
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if document.category %}
                            <td>
                                <a href="?category={{ document.category.id }}{% for key,value in request.GET.items %}{% if key != 'category' and key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    {{ document.category }}
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>
                            <a href="{% url 'core:document_detail' document.id %}">{{ document }}</a>
                        </td>
                        {% if document.type %}
                            <td>
                                <a href="?type={{ document.type.id }}{% for key,value in request.GET.items %}{% if key != 'type' and key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    {{ document.type }}
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ document.year }}</td>
                        <td>{{ document.publisher }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% block pagination %}
            <div class="pagination">
                {% for page_number in document_list.paginator.get_elided_page_range %}
                    {% if page_number == document_list.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="?p={{ page_number }}{% for key,value in request.GET.items %}{% if key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}"
                            class="{% if page_number == document_list.number %}active{% endif %}"
                        >
                            {{page_number}}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}