{% extends "core/base.html" %}

{% block title %}Documents{% endblock %}
{% block content %}
    <div class="button-row">
        {% if perms.core.add_document %}
            <a class="button" href="{% url 'core:document_add' %}">Add a new document</a>
        {% endif %}
        <select class="button" onchange="changeFilter(event, 'institution')">
            <option value=""
            {% if not institution_param %}selected{% endif %}
            >Institution</option>
            {% for institution in institutions %}
                <option value="{{institution.id}}"
                {% if institution.id == institution_param %}
                    selected
                {% endif %}
                >{{institution}}</option>
            {% endfor %}
        </select>
        <select class="button" onchange="changeFilter(event, 'scope')">
            <option value=""
            {% if not scope_param %}selected{% endif %}
            >Scope</option>
            {% for scope in scopes %}
                <option value="{{scope.id}}"
                {% if scope.id == scope_param %}
                    selected
                {% endif %}
                >{{scope}}</option>
            {% endfor %}
        </select>
        <select class="button" onchange="changeFilter(event, 'category')">
            <option value=""
            {% if not category_param %}selected{% endif %}
            >Category</option>
            {% for category in categories %}
                <option value="{{category.id}}"
                {% if category.id == category_param %}
                    selected
                {% endif %}
                >{{category}}</option>
            {% endfor %}
        </select>
        <select class="button" onchange="changeFilter(event, 'type')">
            <option value=""
            {% if not type_param %}selected{% endif %}
            >Document type</option>
            {% for document_type in document_types %}
                <option value="{{document_type.id}}"
                {% if document_type.id == type_param %}
                    selected
                {% endif %}
                >{{document_type}}</option>
            {% endfor %}
        </select>
        <a class="button" target="_blank" href="
        {% url 'core:document_export' %}?{% for key,value in request.GET.items %}{% if key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}
        ">Export</a>
        {% if request.GET.keys|length > 0 %}
            <a class="button" href="{% url 'core:document_list' %}">Clear filters</a>
        {% endif %}
    </div>
    {% if document_list|length == 0 %}
        No results. Please clear your filters and try again.
    {% else %}
        <table class="red sortable">
            <thead>
                <tr>
                    <th>Institution</th>
                    <th>Scope</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Year</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                {% for document in document_list %}
                    <tr>
                        {% if document.institution %}
                            <td>
                                <a href="?institution={{ document.institution.id }}{% for key,value in request.GET.items %}{% if key != 'institution' and key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    {{ document.institution }}
                                </a>
                            </td>
                            <td>
                                <a href="?scope={{ document.institution.type.id }}{% for key,value in request.GET.items %}{% if key != 'scope' and key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    {{ document.institution.type }}
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                        {% if document.category %}
                            <td>
                                <a href="?category={{ document.category.id }}{% for key,value in request.GET.items %}{% if key != 'category' and key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    {{ document.category }}
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>
                            <a href="{% url 'core:document_detail' document.id %}">{{ document }}</a>
                        </td>
                        {% if document.type %}
                            <td>
                                <a href="?type={{ document.type.id }}{% for key,value in request.GET.items %}{% if key != 'type' and key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    {{ document.type }}
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ document.year }}</td>
                        <td>{{ document.publisher }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% block pagination %}
            <div class="pagination">
                {% for page_number in document_list.paginator.get_elided_page_range %}
                    {% if page_number == document_list.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="?p={{ page_number }}{% for key,value in request.GET.items %}{% if key != 'p' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}"
                            class="{% if page_number == document_list.number %}active{% endif %}"
                        >
                            {{page_number}}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    {% endif %}
    <script>
        changeFilter = function(event, param_name){
            var new_param = event.target.value;
            var params = new URLSearchParams(location.search);
            if(new_param === ""){
                params.delete(param_name);
            }else{
                params.set(param_name, new_param);
            }
            window.location.search = params.toString();
        }
    </script>
{% endblock %}