{% extends "core/base.html" %}

{% block title %}Institution types{% endblock %}
{% block content %}
    <table class="green sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for institutiontype in institutiontype_list %}
                <tr>
                    <td>
                        <a href="{% url 'core:institution_type_detail' institutiontype.id %}">{{ institutiontype.id }}</a>
                    </td>
                    <td>{{ institutiontype.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}