{% extends "core/base.html" %}

{% block title %}{{ institution }}{% endblock %}
{% block content %}
    <h1>{{ institution }}</h1>
    <div class="button-row">
        {% if perms.core.change_institution %}
            <a class="button" href="{% url 'core:institution_edit' institution.id %}">Edit</a>
        {% endif %}
        {% if perms.core.delete_institution %}
            <form method="POST" action="{% url 'core:institution_delete' institution.id %}">
                {% csrf_token %}
                <button class="button" onclick="return confirm('This cannot be undone. Are you sure?')">Delete</button>
            </form>
        {% endif %}
    </div>
    <h2>Details</h2>
    <table class="red small">
        <tbody>
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>{{ institution.id }}</td>
            </tr>
            <tr>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <a href="{% url 'core:document_list' %}?institution={{ institution.id }}">
                        {{ institution.name }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Type</b>
                </td>
                {% if institution.type %}
                    <td>
                        <a 
                        {% if perms.core.change_institutiontype or perms.core.delete_institutiontype %}
                            href="{% url 'core:institution_type_detail' institution.type.id %}"
                        {% else %}
                            href="{% url 'core:institution_list' %}?type={{ institution.type.id }}"
                        {% endif %}
                        >
                            {{ institution.type }}
                        </a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}