{% extends "core/base.html" %}

{% block title %}{{ institution }}{% endblock %}
{% block content %}
    <h1>{{ institution }}</h1>
    <h2>Details</h2>
    <table class="green small">
        <tbody>
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>{{ institution.id }}</td>
            </tr>
            <tr>
                <td>
                    <b>Name</b>
                </td>
                <td>{{ institution.name }}</td>
            </tr>
            <tr>
                <td>
                    <b>Type</b>
                </td>
                {% if institution.type %}
                    <td>
                        <a href="{% url 'core:institution_type_detail' institution.type.id %}">
                            {{ institution.type }}
                        </a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}