{% extends "core/base.html" %}

{% block title %}Log In{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">Login</button>
    </form>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'register' %}">New user?</a></p>
{% endblock %}