{% extends "core/base.html" %}

{% block title %}Password reset confirmation{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>Password reset</h1>
        <p>Please enter (and confirm) your new password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Reset my password</button>
          </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please <a href="{% url 'password_reset' %}">request a new password reset</a>.</p>
    {% endif %}
{% endblock %}
